body{
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h1{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 64px;
}

p{
    font-weight: 400;
    font-size: 32px;
}

header{
    background-color: #FFDE00;
    height: 6.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#grupo_logo{
    display: flex;
    height: 2.75rem;
    text-align: center;
}

#grupo_logo img{
    height: 100%;
}

#grupo_logo h2{
    margin-top: auto;
    margin-bottom: auto;
}

#name{
    padding-left: 0.5rem;
}

#instagram{
    padding-left: 1rem;
}

main{
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}